*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.login-div{
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
